* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-image: url(ashim-d-silva-ZmgJiztRHXE-unsplash.jpg);
    margin: 0;
    padding-top: 7.8%;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    /* background-color: #fff; */
    background-image: url(drew-beamer-kUHfMW8awpE-unsplash.jpg);
    box-shadow: 0 0  35px rgba(0,0,0,0.3);
    border-radius:0 17px 0 17px;
    -webkit-border-radius:0 17px 0 17px;
    -moz-border-radius:0 17px 0 17px;
    -ms-border-radius:0 17px 0 17px;
    -o-border-radius:0 17px 0 17px;
}
  
  h1 {
    text-align: center;
    margin-top: 0;
    text-shadow: 0 0  5px #719cbe;

  }
  
  label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
  }
  
  input[type="text"], input[type="email"], input[type="number"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    background-color: #f2f2f2;
    resize: vertical;
  }
  
  input[type="submit"] {
    background-color: #68a338;
    color: #fff;
    padding: 13px 30px;
    border: none;
    margin-left: 40%;
    border-radius:0 7px 0 7px;
    cursor: pointer;
    -webkit-border-radius:0 7px 0 7px;
    -moz-border-radius:0 7px 0 7px;
    -ms-border-radius:0 7px 0 7px;
    -o-border-radius:0 7px 0 7px;
}
  
  input[type="submit"]:hover {
    background-color: #488cc4;
  }
  
  input[type="submit"]:active {
    background-color: #9682eb;
    transform: translateY(1px);
  }
  